<%= form_with model: [@post, Comment.new], url: post_comments_path(@post) do |form|%>
        <%# Hidden field to pass the user_id as a strong parameter  %>
        <%= form.hidden_field :user_id, value: current_user.id %>

        <div>
            <p>
                <%= form.label :body, "Write Your Comment" %>
            </p>

            <%= form.text_area :body %>
        </div>

        <div>
            <%= "Posting as: #{current_user.email.split("@")[0].capitalize}" %>
        </div>

        <div>
            <%= form.submit %>
        </div>
<% end %>
