<%# Liking a post, along with Editing and deleting logic %>

<% unless current_user.nil? %>
    <div>
        <div>
            <% if user_likes.include?(post.id) %>
                <%= form_tag  interaction_path(id: post.id), method: :delete do%>
                    <%= button_to "[ðŸ‘ Liked Post]" %>
                <% end %>
            <% else %>
                <%= button_to "[Like Post]", interactions_path(id: post.id) %>
            <% end %>

            <%# Although "#count" sounds like the more intuitive choice for counting, this code
            uses the #size, as #count will always do a COUNT query, while #size will skip
            the query if the responses are already loaded. %>

            <%# This count has been changed from post.likes.size to post.interactions.size so as to get
            the count from the counter_cache %>
            (<%= post.interactions.size %> People Likes it)
        </div>

        <div>
            <%# This query also uses the counter_cache option %>
            <%= link_to "[#{post.comments.size} Comments]", post_path(post) %>
        </div>
    </div>

    <% if post.user.id == current_user.id %>
        <div>
            <%= link_to "[Edit Post]", edit_post_path(post) %>
            <%= button_to "[Delete Post]", post_path(post), method: :delete %>
        </div>
    <% end %>
<% end %>

