<div>----------------------------------------------------------</div>

<div>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p>[<%= post.user.email %>] - <%= post.created_at.strftime("%d %b %y") %></p>
</div>

<div>
    <p><%= post.body %></p>
</div>

<%= render partial: "controls", locals: {post: post} %>


