<% unless user_signed_in? %>
    <%= link_to "[Log in]", new_user_session_path %>
<% else %>
    <div>
        <%= link_to "[List of Users]", user_relations_path(current_user) %>
    </div> <br>

    <div>
        <p>Logged as: [<%= current_user.email.split("@")[0].capitalize %>] - (<%= current_user.email %>)</p>
        <p><%= button_to "[Log out]", destroy_user_session_path, method: :delete %></p>
    </div>
<% end %>

<h1>List of Posts</h1>
<% if user_signed_in? %>
    <%= link_to "[New Post]", new_post_path %>
<% end %>

<%= render @posts %>
