<% unless user_signed_in? %>
    <%= link_to "[Log in]", new_user_session_path %>
<% else %>
    <div>
        <%= link_to "[List of Users]", user_relations_path(current_user) %>
    </div> <br>

    <div>
        <p>Logged as: <%= link_to "[#{current_user.username}]", user_path(current_user.username) %> - (<%= current_user.email %>)</p>
        <p><%= button_to "[Log out]", destroy_user_session_path, method: :delete %></p>
    </div>
<% end %>

<h1>List of Posts</h1>
<% if user_signed_in? %>
    <%= link_to "[New Post]", new_post_path %>
<% end %>

<%# Logic for showing the followed posts as a signed user or all the Post
as guest %>
<% if user_signed_in? %>
    <%# This renders the collection of followed users posts only %>
    <%= render partial: "post", collection: @followed_users_posts, as: :post %>
<% else %>
    <%# This shows all the post from all the users %>
    <%= render @posts %>
<% end %>


