<%= link_to "[Home]", posts_path %>

<div>
    <h3>
        <%= @post.title %>
    </h3>

    <h4>
        <%= @post.body %>
    </h4>
</div>


<div>
    <p>Author: <%= @post.user.email.split("@")[0].capitalize %></p>
</div>

<div>
    <%= render partial: "controls", locals: {post: @post} %>
</div>

<div>
    <h4>
        Comments:
    </h4>

    <% if  @post.comments.size == 0 %>
        <p>So much empty, write a comment</p>
    <% else %>

    <% end %>
</div>
