<main>
    <h2>OdinBook, the ultimate social network</h2>
    <p>An experiment to study and practice this Ruby On Rails web framework</p>

    <% if user_signed_in? %>
        <div>
            <p>Welcome Back, <%= current_user.email %></p>
        </div>
        <%= link_to "Go to the HomePage", posts_path%>
    <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Enter without Sign in", posts_path %>
    <% end %>

</main>
